.home{
// display: flex;
.top{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .topLeft{
     flex:48%;
     width:48%;
     img{
     width: 100%;
     }
    }
    .topRight{
    flex:50%;
    width: 50%;
    h1{
    color: var(--red);
    font-size: 24px;
    font-weight: 700;
    // font-size: var(--fz-title);
    }
    p{
    padding: 5px;
    color: var(--blue);
    font-size: var(--fz-text);
    line-height: 1.4;
    font-weight: 400;
    }
    }
    @media screen and (max-width:767px) {
        .topLeft{
        background: #000;
        // width:100%;
        flex:100%;
        }
        .topRight{
        flex:100%;
        }
    }
}
}

.middle{
margin-top: 20px;
padding: 10px;
border-top: 2px dotted rgb(212, 212, 212);
background: rgb(242, 242, 242);
display: flex;
flex-wrap: wrap;
gap: 10px;
// background: #000;

.box{
display: flex;
justify-content: center;
flex-direction: column;
.img{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 80%;
    width: 90%;
    position: relative;
   
   
}
.title{
width:200px;
position: absolute;
color: white;
font-size: var(--fz-title);
font-weight: 700;
top: 75%;
left: 50%;
transform: translateX(-50%);
.text{
    text-shadow: 2px 2px #FF0000;

}
}
img{
    
    border: 4px solid #dbd0d0;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    // object-fit: contain;
    transition: all ease-in-out 0.3s;
    &:hover{
        transform:scale(1.1);
    
    }
}
flex:30%;
}
}

.bottom{
    margin-top: 20px;
    padding: 10px;
display: flex;
flex-wrap: wrap;
gap:10px;
.box{
padding: 4px;
h3{
color: var(--red);
font-weight: 700;
margin-bottom: 2px;
}
p{
color: var(--blue);
font-size: var(--fz-text);
}
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
img{
margin: auto;
width:60%;
}

border:2px solid gray; 

flex:31%;
width:31%;
}
@media screen and (max-width:767px) {
   .box{
   flex:40%;
   } 
}
}

