.introduce{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;

.intro{
text-align: center;
.title{
font-size: 22px;
color: var(--blue);
}
p{
font-style: italic;
}
}
}

.aboutus{
// display: flex;
// background: #000;
.title{
text-align: center;
font-weight: 700;
h3{
color: var(--blue);
font-size: 26px;
}
h1{
font-size: 22px;
color: var(--blue);
}
}
.content{
display: flex;
flex-wrap: wrap;
padding: 5px;
.item{
border-bottom: 1px solid black;
border-right: 1px solid black;
display: flex;
padding: 5px;
// i{
// // width:30%;
// }
.checked{
display: flex;
justify-content:center;
align-items: center;
width: 24%;
font-size: 30px;
font-weight: 700;
text-align: center;
}
flex:47%;
gap: 10px;
background: rgb(207, 207, 207);
}
@media screen  and (max-width: 767px){
    .item{
    flex:90%;
    .checked{
    // margin-right: auto;
    // margin-left: auto;
    }
    }
}
}
}