.page{
    width: 100%;
    min-height: 500px;
    margin-top: 110px;
    // background-color: red;
    background: rgb(238,229,174);
    background: radial-gradient(circle, rgba(238,229,174,0.654499299719888) 2%, rgba(130,146,255,0.8589810924369747) 79%);
}